.profile {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
}

@media screen and (max-width: 1080px) {
  .profile {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    row-gap: 18px;
    justify-items: center;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 0;
    justify-items: center;
  }
}
