.main {
  max-width: 880px;
  width: 68.75%;
  padding-top: 40px;
  flex: 1 0 auto;
}

@media screen and (max-width: 768px) {
  .main {
    width: 80%;
  }
}

@media screen and (max-width: 476px) {
  .main {
    width: calc(100% - 38px);
  }
}
