.profile__info {
  width: 100%;
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .profile__info {
    column-gap: 10px;
    row-gap: 14px;
    margin-bottom: 36px;
    justify-content: center;
  }
}
