.footer {
  max-width: 880px;
  width: 68.75%;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 80%;
  }
}

@media screen and (max-width: 467px) {
  .footer {
    width: calc(100% - 38px);
  }
}
